
@{
    ViewBag.Title = "AdminProfile";
}

<h2>Hello Admin @Session["admin_name"]</h2>
<html>
<head>
    <style>
        h1 {
            text-align: center;
        }
    </style>
</head>
</html>
<h1>Welcome to Admin Page</h1>

<style>
    body {
        background-image: url('/Content/image66.jpg');
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-attachment: fixed;
    }
</style>